$primary-color: #5c2ede;
$light-primary-color: #9ba0f8;
$dark-primary-color: #4623a4;

$grey-100: #f5f6f7;
$grey-200: #f0f0f0;
$grey-300: #e1e1e1;
$grey-400: #d2d2d2;
$grey-500: #b6b6b6;
$grey-600: #7e7e7e;
$grey-700: #6e6e6e;
$grey-800: #636363;
$grey-900: #0e0e0e;
