.section-block_title {
  // background-color: $primary-color;
  //   border-radius: 5px;
  text-align: center;
  padding: 12px 0;
  font-weight: 500;
  font-size: 20px;
}

.section-overall,
.other-section-overall {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;

  &.grid-col-2 {
    row-gap: 30px;
    column-gap: 30px;
  }
}

.section-overall-top {
  padding-bottom: 0;
}

.section-block_description {
  text-align: justify;
  padding: 5px 25px 30px;
}

.support-image-wrapper {
  img {
    width: 100%;
    background-size: cover;
  }
}

.content-info_page {
  padding-bottom: 10px;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
}

.banner-content-wrapper {
  z-index: 2;
  height: 100%;
  color: white;
  position: relative;
  flex-grow: 1;
  display: flex;

  &.container{
    width: 100%;
  }

  .banner-quote{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 15%;
    text-align: center;
  }
}
